<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dev Blog</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/prism.css">
  <script src="/prism.js"></script>


  </head>
  
  <body>
    <div><p style="position:absolute"><a style="color:black; font-size: 0.7rem;" href="https://unsplash.com/photos/JdoofvUDUwc">image attribution</a></p></div>
    <div class="header-img"></div>
    <nav class="navbar navbar-expand-lg">
      <div class=" container container-fluid">
  
        <div class = "navbar-header">
        <p class="navbar-brand" style="display: inline; color: white;"><span style="color: #9136F7; font-weight: bold;">Dev </span>Blog</p>  
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span style="background-color: white; border-radius: 5px;" class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="justify-content: flex-end;"id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li onclick= "location.href = '/'" id="home"><a href="/">HOME</a></li>
            <li onclick= "location.href = '/about'" id="about"><a href="/about">ABOUT</a></li>
            <li onclick= "location.href = '/contact'" id="contact"><a href="/contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </nav>
            <!-- onclick here is used to convert the entire li into a button you can press to load the
            respective route otherwise only the anchor links would've led to the pages and the way I have
            made navigation links to look like button, it becomes very counter intuitive if the whole button
            doesn't work. It feels as if the button is bugged. There is probably a better way to do this but
            for now I've done it in this particular way. Too lazy to change nav links into button. 
            window.location.href is js way to redirect to a page. There is also location.replace which works
            a little different but I'm not sure what the difference is. What I can tell is that at a place you
            can use one or the other method.  -->
          
    <div class="container wrapper">
    <h1>Home</h1>
    <p> <%= HC %> </p>
    <h2>Blogs</h2>
    <%# creating a loop for list of blogs on the home page %>
    <% if (homecontent.length > 1) { %>
      <% for (i=1; i<homecontent.length; i++) { %>
        <div class="wrap-around-card" onclick="location.href='/posts/<%-homecontent[i].blogPostTitle%>'">
        <h3> <%-  homecontent[i].blogPostTitle %> </h3>
        <p style="display:inline-block; border: 1px solid white; border-radius:5px; color:black; background-color:white;"> <%- homecontent[i].blogTag %> </p>
        <p> <%- homecontent[i].createdAt.toString().substring(4,15) %> </p>
        <!-- code below was used to display a small snippet of the blog post by taking a substring of the 
        blog post and then giving a read more link to open a custom page for that article. Problem with 
        this was that when I make a post through compose page and that post has formatting done to it with
        tiny rich text editor, the html tags involved in making the formatting are cut short because I'm taking
        a substring of the body of the blog post. This results in change of css of the home page and even making
        the buttons etc not work some times. To eliminate this I am going to put a description field in the 
        database. -->

        <%# if (homecontent[i].blogPostBody.length <= 30) { %>
        <!-- <p> <%# homecontent[i].blogPostBody %> </p> -->
        <%# } else { %>
        <!-- <p>  <%# homecontent[i].blogPostBody.substring(0,30) %>... </p><p> <a href="/posts/<%#homecontent[i].blogPostTitle%>">Read more</a></p> -->
        <%# } %> 
        
        <p> <%- homecontent[i].blogDescription%></p>
        </div>

    <% }} %>
    <%# end of loop %>


    <%- include('partials/footer.ejs'); %>
